body {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  background-color: #c7c6c7;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 3px #424242;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: #eae7eafb;
}

#container {
  width: 770px;
}


#weekdays {
  width: 100%;
  display: flex;
  font-size: 20px;
  font-family:fangsong;
  margin-top:20px;
  color: #d36c6cc3;
}
#weekdays div {
  width: 100px;
  padding: 15px;
}


#calendar {
  width: 100%; 
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #eae7eaf2;
  margin: 5px;
  box-shadow: 0px 0px 3px #424242;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}
.day:hover {
  background-color: #cd8888a3;
}

.day + #currentDay {
  background-color:#e8f4fa;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #b5b2b5cd !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}
#header{
  display:inline-flex;

}
.headerMonth{  
  color: #d36c6c;
  margin-right:300px;
  font-size: 60px;
  font-weight:bolder;
  font-family:fangsong;
  text-align: center;
  justify-content: space-between;

}

.timeButton {
  display: flex;
  gap: 6px; 
  flex-direction: column;
  font-family:fangsong;
  font-size:15px


}

.view{
  display:none;
}

.view.active{
  display:block;
}
